------------------------------------------
Python Requirements
------------------------------------------
sudo apt-get install python-dev pypy-dev libjpeg8-dev ffmpeg
construct==2.5.5-reupload
Pillow==3.4.2
cffi==1.9.1

------------------------------------------
Pypy
------------------------------------------
sudo apt-get install pypy
virtualenv -p pypy .pypy
source .pypy/bin/activate
